*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --container-width: 1170px;
  --animation-duration: 0.3s;
  --section-margin: 80px 0;
  --color--primary: #866d5c;
}

.container {
  max-width: var(--container-width);
  padding: 0px 15px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #161616;
  background-color: #f0f0f0;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #eee;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color--primary);
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

ol,
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 15px 60px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.25rem;
  transition: color var(--animation-duration) ease-in-out, background-color var(--animation-duration) ease-in-out;
}
.button--primary {
  background-color: var(--color--primary);
}
.button--primary:hover {
  background-color: #685448;
}
.button--secondary {
  border: 1px solid var(--color--primary);
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
.grid-item__wrap {
  height: auto;
  width: 100%;
}
.grid-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.section {
  padding: var(--section-margin);
}
.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 40px;
  font-family: "Open Sans", "Raleway", sans-serif;
}
.section-header__title {
  font-size: 48px;
  font-weight: 700;
}

.header-wrap {
  box-shadow: 0px 4px 20px -18px #000000;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.header-nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-logo__title {
  color: var(--color--primary);
}
.header-menu-item {
  overflow: hidden;
  padding: 10px 0;
  position: relative;
}
.header-menu-item:not(:last-child) {
  margin-right: 40px;
}
.header-menu-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateX(-100%);
  width: 100%;
  height: 2px;
  background-color: var(--color--primary);
  transition: transform var(--animation-duration) ease-in-out;
}
.header-menu-item:hover a {
  color: var(--color--primary);
}
.header-menu-item:hover:after {
  transform: translateX(0px);
}

.hero {
  background-image: url("../assets/images/item-2.jpg");
  background-size: cover;
  background-position: center center;
}
.hero-dark {
  padding: 80px 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-content {
  color: #fff;
  font-family: "Open Sans", "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 80vh;
}
.hero-content__title {
  margin-bottom: 8px;
}
.hero-content__title span {
  font-size: 64px;
}
.hero-content__text {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 60px;
}
.hero-content__button {
  font-family: "Raleway", "Open Sans", sans-serif;
}

.catalog-items {
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.catalog-item {
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 3px 7px 20px -15px #000000;
}
.catalog-item__wrap {
  margin-bottom: 8px;
}
.catalog-item__wrap img {
  height: 300px;
  border-radius: 4px;
}
.catalog-item__title {
  font-size: 24px;
  margin-bottom: 8px;
}
.catalog-item__content {
  font-size: 14px;
  margin-bottom: 16px;
  font-family: "Open Sans", "Raleway", sans-serif;
}
.catalog-item__price {
  text-align: center;
  margin-bottom: 8px;
}
.catalog-buttons {
  margin-top: 60px;
}

.subscribe {
  background-image: url("../assets/images/item-4.jpg");
  filter: brightness(0.5);
  background-size: cover;
  background-position: center;
}

.scroll {
  cursor: pointer;
  position: fixed;
  border-radius: 8px;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateY(100px);
  transition: background-color var(--animation-duration) ease-in-out, transform var(--animation-duration) ease-in-out;
}
.scroll__button {
  color: var(--color--primary);
}
.scroll:hover {
  background-color: #c8c8c8;
}
.scroll--active {
  transform: translateY(0px);
}

.footer {
  margin-top: 80px;
  padding: 60px 0;
  background-color: var(--color--primary);
}
.footer-list {
  color: #fff;
  align-items: flex-start;
}
.footer-list-item {
  align-items: flex-start;
}
.footer-list-item:not(:last-child) {
  margin-right: 80px;
}
.footer-list-item__title {
  font-size: 24px;
  margin-bottom: 10px;
}
.footer-subList {
  align-items: flex-start;
}
.footer-subList-item__link {
  padding: 5px 0;
  color: #fff;
  transition: color var(--animation-duration) ease-in-out, margin var(--animation-duration) ease-in-out;
}
.footer-subList-item__link:hover {
  color: #acacac;
  margin-left: 10px;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.slider-item {
  position: absolute;
  transition: transform var(--animation-duration) ease-in-out;
}
.slider-list {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: transform var(--animation-duration) ease-in-out;
}
.slider-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 50px;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slider-dot {
  position: relative;
  cursor: pointer;
}
.slider-dot:not(:last-child) {
  margin-right: 16px;
}
.slider-dot:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #bd9d87;
  transition: background-color var(--animation-duration) ease-in-out;
}
.slider-dot:hover:after {
  background-color: var(--color--primary);
}

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  transition: transform var(--animation-duration) ease-in-out;
  transform: translateY(-100vh);
}
.modal--active {
  transform: translateY(0);
}
.modal-window {
  position: relative;
  top: 50%;
  left: 50%;
  width: 500px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 8px;
}
.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 16px;
}
.modal-header__title {
  font-size: 42px;
}
.modal-form .row:not(:last-child) {
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.form__label {
  margin-bottom: 8px;
}
.form__input {
  border: 1px solid var(--color--primary);
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  background-color: white;
}
.form-buttons {
  margin-top: 16px;
}

.team-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 350px;
  gap: 20px;
}
.team-grid-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.team-grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-item__title {
  margin: 10px 0;
}
.team-item:last-child {
  grid-column: 1/-1;
}
.team-item:last-child h3 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 20px;
}
.team-item:last-child img {
  border-radius: 8px;
  height: calc(350px - 20%);
}

.partners {
  background-color: #fff;
}
.partners-list {
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
}
.partners-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.feature-item__wrap {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.feature-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.feature-item-content {
  color: #fff;
  text-align: center;
  max-width: 800px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature-item-content__title {
  font-size: 48px;
  margin-bottom: 8px;
}
.feature-item-content__text {
  font-size: 18px;
}

.excellence {
  background-color: #fff;
}
.excellence-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 60px;
}
.excellence-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.excellence-item__title {
  margin-bottom: 8px;
}
.excellence-item__icon {
  font-size: 4em;
}

@media screen and (max-width: 998px) {
  .catalog-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .team-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .team-grid-img {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 675px) {
  .team-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .catalog-items {
    grid-template-columns: repeat(1, 1fr);
  }
}